html {
  background: url(../img/buttons/about.png) repeat-x #003302
}

.about #container {
  width: 600px;
}

.col1 .article {
  padding: 0px 0px 20px 0px;
}

h3 {
  margin-bottom: 20px;
}

p {
  margin: 15px 0px 0px 0px;
}

.col1 p.sign {
  padding-top:20px;
}

.col1 img {
  margin: 10px 0px 10px 0px;
}

.col1 u img {
  width: 500px;
}

.col1 s img {
  width: 400px;
}

.about {
  color: #55FF55;
}

b, .col1 h2 {
  font-size: 18px;
  font-family:'retroville_ncregular';
}

b {
  color: #55FF55;
}

b {
  letter-spacing: -1px;
  font-weight: 100;
  color: #FFF;
  font-weight: normal;
  padding-bottom: 5px;
  display: inline-block;
}

.plusbloc {
  float: left;
  width: 260px;
  margin-top: 80px;
}

.contactbloc {
  float: left;
  width: 340px;
  margin-top: 80px;
}

.designed {
  font-size: 11px;
}

.mur1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 70%;
  background: url(../img/about/mur1.png) repeat-y;
  position: fixed;
}

.mur2 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 70%;
  background: url(../img/about/mur1.png) repeat-y;
  position: fixed;
}


@media screen and (max-width:640px) {

  #container {
    width: 320px;
  }

  #container img {
    width: 300px;
    padding: 0px 0px 5px 0px;
  }

  .mur1 {
    position: fixed;
    bottom: 0;
    left: -35px;
    width: 60px;
    height: 70%;
    background: url(../img/about/mur1.png) repeat-y;
    position: fixed;
  }

  .mur2 {
    position: fixed;
    bottom: 0;
    right: -25px;
    width: 60px;
    height: 70%;
    background: url(../img/about/mur1.png) repeat-y;
    position:fixed;
  }

}